body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Arka plan rengini isteğinize göre ayarlayabilirsiniz */
}

.card {
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.card h1 {
    color: cadetblue;
    text-align: center;
}

.card p {
    color: white;
    font-size: 1.2em;
}

.card::after, .card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 10px;
    animation: alternate 3s linear infinite;
    padding: 5px;
}

.card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

